{% extends 'index.html' %}
{% block contentPage %}

<h1 class="text-center pb-1 mt-3 myFont">Contact Us</h1>
<div class="container mt-3">
    <div class="card shdw">
        <div class="card-body">
            <div class="card-text">
                <div class="text-center">
                    Do you have any questions or suggestions or would you like to report an error? Just send us a
                    message. Please note that we will only answer contact requests written in English. Although we do
                    not guaranty a response, we typically respond within 24-48 hours.</div>
                <div class="text-center my-3">
                    <b>Please note:</b>
                    Before you report an error, please check our errors page for the error details. Thanks.</div>
            </div>

            <div class="myBt">
                <button class="btn btn-primary" value="click"
                    onclick="location.href='https://forms.gle/SHufZW3EEfJFMPGN8'">Contact Us</button>
            </div>
        </div>


    </div>
</div>

{% endblock %}