{% extends 'index.html' %}
{% block contentPage %}

<h1 class="text-center pb-1 mt-3 myFont">DMCA</h1>
<div class="container mt-3">
    <div class="card boxShadow">
        <div class="card-body">
            <div class="card-text">
                <div class="text-center">
                    We respect the intellectual property rights of others. You may not infringe the copyright, trademark
                    or other proprietary informational rights of any party. We may in our sole discretion remove any
                    Content we have reason to believe violates any of the intellectual property rights of others and may
                    terminate your use of the Website if you submit any such Content.
                </div>
                <div class="text-center my-3">
                    <b>REPEAT INFRINGER POLICY. AS PART OF OUR REPEAT-INFRINGEMENT POLICY, ANY USER FOR WHOSE MATERIAL
                        WE RECEIVE THREE GOOD-FAITH AND EFFECTIVE COMPLAINTS WITHIN ANY CONTIGUOUS SIX-MONTH PERIOD WILL
                        HAVE HIS GRANT OF USE OF THE WEBSITE TERMINATED.
                    </b>
                </div>
                <div class="text-center my-3">
                    Before you report an error, please check our errors page for the error details. Thanks.
                </div>

                <div class="text-center my-3">
                    Although we are not subject to United States law, we voluntarily comply with the Digital Millennium
                    Copyright Act. Pursuant to Title 17, Section 512(c)(2) of the United States Code, if you believe
                    that any of your copyrighted material is being infringed on the Website, we have designated an agent
                    to receive notifications of claimed copyright infringement.
                </div>

                <div class="text-center my-3">
                    All notifications not relevant to us or ineffective under the law will receive no response or action
                    thereupon. An effective notification of claimed infringement must be a written communication to our
                    agent that includes substantially the following:
                </div>

                <div class="text-center my-3">
                    Identification of the copyrighted work that is believed to be infringed. Please describe the work
                    and, where possible, include a copy or the location (e.g., a URL) of an authorized version of the
                    work;
                </div>

                <div class="text-center my-3">
                    Identification of the material that is believed to be infringing and its location or, for search
                    results, identification of the reference or link to material or activity claimed to be infringing.
                    Please describe the material and provide a URL or any other pertinent information that will allow us
                    to locate the material on the Website or on the Internet;
                </div>

                <div class="text-center my-3">
                    Information that will allow us to contact you, including your address, telephone number and, if
                    available, your e-mail address;
                </div>


                <div class="text-center my-3">
                    A statement that you have a good faith belief that the use of the material complained of is not
                    authorized by you, your agent or the law;
                </div>

                <div class="text-center my-3">
                    A statement that the information in the notification is accurate and that under penalty of perjury
                    that you are the owner or are authorized to act on behalf of the owner of the work that is allegedly
                    infringed;
                </div>

                <div class="text-center my-3">
                    A physical or electronic signature from the copyright holder or an authorized representative.
                </div>

                <div class="text-center my-3">
                    If your User Submission or a search result to your website is removed pursuant to a notification of
                    claimed copyright infringement, you may provide us with a counter-notification, which must be a
                    written communication to our above listed agent and satisfactory to us that includes substantially
                    the following:
                </div>

                <div class="text-center my-3">
                    Your physical or electronic signature;
                </div>

                <div class="text-center my-3">
                    Identification of the material that has been removed or to which access has been disabled and the
                    location at which the material appeared before it was removed or access to it was disabled;
                </div>

                <div class="text-center my-3">
                    A statement under penalty of perjury that you have a good faith belief that the material was removed
                    or disabled as a result of mistake or misidentification of the material to be removed or disabled;
                </div>

                <div class="text-center my-3">
                    Your name, address, telephone number, email address and a statement that you consent to the
                    jurisdiction of the courts in the address you provided, Anguilla and the location(s) in which the
                    purported copyright owner is located; and
                </div>

                <div class="text-center my-3">
                    If your User Submission or a search result to your website is removed pursuant to a notification of
                    claimed copyright infringement, you may provide us with a counter-notification, which must be a
                    written communication to our above listed agent and satisfactory to us that includes substantially
                    the following:
                </div>

                <div class="text-center my-3">
                    A statement that you will accept service of process from the purported copyright owner or its agent.
                </div>




            </div>
        </div>
    </div>
</div>

{% endblock %}