{% load static %}

<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>YouTube Downloader</title>
	<style>
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
			aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">YTDownloader</a>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="../">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/documentation">Documentation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contactUs">Contact us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dmca">DMCA</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container mt-2 headBG">
		<div class="headFont my-3 py-5 text-center">
			YouTube Downloader
		</div>
	</div>

	{% block contentPage %}
	<div class="container mb-5">
		<div class="card border-primary" id="formBox">
			<div class="card-header">
				<ul class="nav nav-pills card-header-pills">
					<li class="nav-item">
						<a id="home" class="nav-link active">URL</a id="home">
					</li>
					<li class="nav-item">
						<a id="search" class="nav-link" href="/search">SEARCH</a id="search">
					</li>
				</ul>
			</div>
			<div class="card-body" id="form">
				<form action="" method="GET">
					<div class="input-group mb-3 mt-2 col-sm-11 mx-auto">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-default">URL</span>
						</div>
						<input type="text" class="form-control"
							placeholder="e.g : https://www.youtube.com/watch?v=67aR580Yqw8" aria-label="YouTube link"
							aria-describedby="button-addon2" name="urlBox">
					</div>
					<div class="input-group-append">
						<button class="btn btn-primary btn-font" type="submit" id="button-addon2">Convert</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	{% if aflag %}
	<div class="container border-primary card mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col">
					<div class="card border-info text-center mx-auto my-4 boxShadow" style="width: 24rem;">
						<div class="card-body">
							<img class="card-img-top" src="{{dataDict.thumbnail}}" alt="Card image cap">
						</div>
						<div class="card-body">
							<h5 class="card-title">{{dataDict.title}}</h5>
							<hr>
							<h6 class="card-subtitle mb-2 text-muted border-info">
								{{dataDict.uploader}}</h6>
							<hr>
							<p class="card-text">{{dataDict.description}}</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div id="downloadTab">
						<div class="panel panel-default my-3">
							<h5 class="panel-heading">
								Video
							</h5>
							<div class="panel-body">
								{% for item in dataDict.formats.video %}
								<a href="{{item.url}}" class="btn btn-primary boxShadow" style=" min-width: 140px;"
									role="button" download>{{item.ext}} {{item.format}}</a>
								{% endfor %}
							</div>
						</div>
						<div class="panel panel-default my-3">
							<h5 class="panel-heading">
								Video (Without sound)
							</h5>
							<div class="panel-body">
								{% for item in dataDict.formats.videoWoAudio %}
								<a href="{{item.url}}" class="btn btn-primary boxShadow" style=" min-width: 140px;"
									role="button">{{item.ext}} {{item.format}}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% elif eflag %}
	<div class="container  mb-3">
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Error!</h4>
			<p>Ooops...... You have entered an <strong>invalid YouTube link</strong>.......</p>
		</div>
	</div>
	{% elif mflag %}
	<div class="container  mb-3">
		<div class="card border-primary mt-3">
			<h3 class="card-header text-center bg-warning">Warning!</h3>
			<div class="card-body">
				<p class="card-text text-center">Ooops...... You have entered an YouTube link which is a link of
					<strong>YouTube
						Playlist</strong>.
					Please
					not enter <strong>YouTube Playlist link</strong><br>
					following is the playlist details</p>
				<div class="card border-info mx-auto my-4 boxShadow" style="width: 24rem;">
					<div class="card-body">
						<img class="card-img-top" src="{{dataDict.thumbnail}}" alt="Card image cap">
					</div>
					<div class="card-body">
						<h5 class="card-title">{{dataDict.title}} . {{dataDict.linkCount}} Videos</h5>
						<hr>
						<h6 class="card-subtitle mb-2 text-muted border-info">
							{{dataDict.uploader}}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% elif sflag %}
	{% block contenSearch %}

	{% endblock %}
	{% else %}
	{% endif %}

	{% endblock %}

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

</body>

</html>