{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Welcome to YouTube MP3 Converter Online</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

	<form action="/crawl" method="GET">
		<h1 class="heading1">convert Youtube Videos and Download MP3 Format</h1>

		<input class="url" placeholder="Paste youtube video link here" name="urlBox">

		<button type="submit" class="btn">Covert Now</button>
	</form>
	{% block content %}
	{% endblock %}
</body>

</html>