{% extends 'index.html' %}

{% block contentSearch %}

<form action="/search" method="GET">
    <div class="input-group mb-3 mt-2 col-sm-11 mx-auto">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input type="text" class="form-control" placeholder="search video by name" aria-label="search value"
            aria-describedby="button-addon2" name="searchName">
    </div>
    <div class="input-group-append">
        <button class="btn btn-primary btn-font" type="submit" id="button-addon2">SEARCH</button>
    </div>
</form>

{% endblock %}