{% extends 'index.html' %}
{% block contentPage %}

<div class="container mb-5">

    <div class="card border-primary" id="formBox">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link" href="../">VIDEO</a id="home">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/audio">AUDIO</a id="home">
                </li>
                <li class="nav-item">
                    <a class="nav-link active">SEARCH</a id="search">
                </li>
            </ul>
        </div>
        <div class="card-body" id="form">
            <form action="../search" method="GET">
                <div class="input-group mb-3 mt-2 col-sm-11 mx-auto">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                    </div>
                    <input type="text" class="form-control" placeholder="search video by name" aria-label="search value"
                        aria-describedby="button-addon2" name="searchName">
                </div>
                <div id="btn-loading">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-font btn-js" type="submit" id="button-addon2">SEARCH</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if sflag %}
<div class="container border-primary card mb-3">
    <div class="card-body">
        <div class="row">
            {% for item in resultDict %}
            <div class="card mx-auto mb-3 boxShadow" style="width: 15rem;">
                <img class="card-img-top" src="{{item.thumbnail}}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-text">{{item.title}}</h6>
                    <hr>
                    <h6 class="card-text text-muted">{{item.channel}}</h6>
                    <small class="card-text text-muted">Duration : {{item.duration}}</small>
                    <hr>
                    <div>
                        <a href="../?urlBox={{item.url}}" class="btn btn-primary">Get Video</a>
                        <a href="../audio/?audioURL={{item.url}}" class="btn btn-primary">Get audio</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% elif eflag %}
<div class="container  mb-3 text-center">
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">No Results Found</h4>
        <p>Try different keywords , instead of "{{query}}"</p>
    </div>
</div>

{% else %}

<div class="container text-center">
    <div class="card-group">
        <div class="card mx-3 boxShadow rounded">
            <div class="card-body">
                <h3 class="card-title">Why?</h3>
                <p class="card-text">Many video editor, meme creator or many students needs videos for new
                    things creation or study purposes. Nowadays , YouTube is the most bigger video streaming
                    website. So, they need to download video or audio file from YouTube</p>
            </div>
        </div>
        <div class="card mx-3 boxShadow rounded">
            <div class="card-body">
                <h3 class="card-title">How?</h3>
                <p class="card-text">We all know that, YouTube doesn't allow to download video from their
                    website. So, we are here to solve many creators' and students' problem with very ease,
                    reliable and fast process, without any log in or pricing problem</p>
            </div>
        </div>
        <div class="card mx-3 boxShadow rounded">
            <div class="card-body">
                <h3 class="card-title">What?</h3>
                <p class="card-text">So, for those who want save their time, who don't want harmful links, who
                    want clean user friendly UI, we are create `<a href="/">YTDownloader.com</a>`</p>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}